.gradient-bg-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(135deg, #C82BF9 0%, #692AE8 50%, #0C07D1 100%);
}
.gradient-text {
  background: linear-gradient(135deg, #C82BF9 0%, #692AE8 50%, #0C07D1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #FFFFFF; /* Cambiado a blanco puro para mejor legibilidad */
}
.hover-glow:hover {
  box-shadow: 0 0 20px rgba(0, 234, 252, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}
.scroll-smooth {
  scroll-behavior: smooth;
}
.bg-primary-mid {
  background-color: #14122A;
}
