.gradient-bg-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(135deg, #C82BF9 0%, #692AE8 50%, #0C07D1 100%);
}
.hover-glow:hover {
  box-shadow: 0 0 20px rgba(0, 234, 252, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}
.scroll-smooth {
  scroll-behavior: smooth;
}
.bg-primary-mid {
  background-color: #14122A;
}
